In [ ]:
ASSIGNMENT 2
BDAT
SUBMITTED BY 
MOWNIKA RADHAKRISHNAN

In [ ]:
Question 1
What value is displayed when the last expression (a) is evaluated? 
Explain your answer by indicating what happens in every executed statement

In [3]:
a=0
def b():
    global a
    a=c(a)
def c(a):
    return a + 2

print(b())
print(b())
print(b())
print(a)

None
None
None
6

In [ ]:
Question 2
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

In [4]:
import os.path

def file_length(file_name):
    if os.path.isfile (file_name):
        file= open(file_name)
        contents= file.read()
        file.close()
        print(len(contents))
    else:
        print("File "+ str(file_name) +" not found")
        
file_length('midterm.py')
file_length('idterm.py')

603
File idterm.py not found

In [ ]:
Question 3
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial init constructor to take, as input, 
the coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis,
c. overloads the str operator so it behaves as shown below.

In [14]:
class Marsupial:
    def __init__(self):
        self.arr=[]
    def put_in_pouch(self,x):
        self.arr.append(x)
    def pouch_contents(self):
        print(self.arr)
        
class Kangaroo(Marsupial):
    def __init__(self,x_coords,y_coords):
        super().__init__()
        self.x=x_coords
        self.y=y_coords
    def jump(self,dx,dy):
        self.x+=dx
        self.y+=dy
    def __str__(self):
        return "I am Kangaroo located at coordinates ({0},{1})".format(self.x,self.y)
    
k=Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am Kangaroo located at coordinates (3,0)

In [ ]:
Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x.

In [1]:
def collatz(x):
    print(round(x))
    if(x==1):
        return 1
    elif(x%2==0):
         return collatz(x/2)
    elif(x%2!=0):
         return  collatz(3*x+1)
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

1

In [ ]:
Question 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n

In [2]:
def binary(n):
    if n < 2:
        print (n)
    else:
        x = '{0:b}'.format(n)
        print (x)
binary(0)
binary(1)
binary(3)
binary(9)

0
1
11
1001

In [ ]:
Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, 
and retrieve and print all the headings in the document.

In [4]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.isHeading = False
        self.tagName =""
    def handle_starttag(self,tag,attrs):
        if(tag in['h1','h2','h3','h4','h5','h6']):
            self.isHeading = True
            self.tagName = tag
    def handle_data(self,data):
        if (self.isHeading):
            if (self.tagName == 'h1'):
                print(data)
        elif (self.tagName == 'h2'):
            print(" " + data)
        elif (self.tagName == 'h3'):
            print (" " + data)
        elif (self.tagName == 'h4'):
            print(" " + data)
        elif (self.tagName == "h5"):
            print(" " + data)

        else:
            print(" " + data)
    def handle_endtag(self, tag): 
        self.tagName = "" 
        self.isHeading = False
k = HeadingParser()
k.feed('<html><head><title>Test</title></head><body><h1>Parse me!</h1><h2>Hello World</h2><h3>H3 tag</h3><h4>h4 tag</h4></body></html>')

 Test
Parse me!

In [ ]:
Question 7
Implement recursive function webdir() that takes as input: 
a URL (as a string) and non-negative integers depth and indent.
Your function should visit every web page reachable from the starting URL web page 
in depth clicks or less, and print each web page's URL

In [2]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):

    def __init__(self, url):
      #initializes parser, the url, and a list
        HTMLParser.__init__(self)
        self.url = url
        self.links = []


    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:          
                if attr[0] == 'href': 
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http':
                        self.links.append(absolute)

    def getLinks(self):
        return self.links


allLinks = []
    
def webdir(url,depth,indent):
        global allLinks   
        print(indent*" " + url)
        if depth == 0:
            return 
        for i in allLinks: 
            webdir(i, depth-1, indent+1)    


url = ' http://reed.cs.depaul.edu/lperkovic/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
allLinks = collector.getLinks()
#Calling Webdir Function here
webdir(url,2,0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test2.html

In [ ]:
Question 8
Write SQL queries on the below database table that return:

In [3]:
import sqlite3
con = sqlite3.connect('ipydb.db')
cur = con.cursor()
cur.execute("CREATE TABLE cityWeather (City text, Country text, Season text,Temperature float,Rainfall float)")

In [4]:
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")

In [5]:
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

In [6]:
cur.execute('SELECT * FROM cityWeather')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [ ]:
a) All the temperature data.

In [7]:
cur.execute('SELECT temperature FROM cityWeather')
A=cur.fetchall()
for item in A:
    print(item)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [ ]:
b) All the cities, but without repetition.

In [8]:
cur.execute('SELECT DISTINCT City FROM cityWeather')
B=cur.fetchall()
for item in B:
    print(item)

('Mumbai',)
('London',)
('Cairo',)

In [ ]:
c) All the records for India.

In [9]:
cur.execute("SELECT * FROM cityWeather WHERE Country='India'")
C=cur.fetchall()
for item in C:
    print(item)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [ ]:
d) All the Fall records.

In [10]:
cur.execute("SELECT * FROM cityWeather WHERE Season='Fall'")
D=cur.fetchall()
for item in D:
    print(item)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [ ]:
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [11]:
cur.execute("SELECT City,country,Season FROM cityWeather WHERE Rainfall BETWEEN 200 AND 400")
E=cur.fetchall()
for item in E:
    print(item)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [ ]:
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [12]:
cur.execute("SELECT City,country FROM cityWeather WHERE Season='Fall' AND temperature > 20 ORDER BY temperature ASC")
F=cur.fetchall()
for item in F:
    print(item)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [ ]:
g) The total annual rainfall for Cairo

In [13]:
cur.execute("SELECT SUM(Rainfall) FROM cityWeather WHERE City='Cairo'")
G=cur.fetchall()
for item in G:
    print(item)

(27.6,)

In [ ]:
h) The total rainfall for each season.

In [14]:
cur.execute("SELECT SUM(Rainfall) FROM cityWeather GROUP BY Season")
H=cur.fetchall()
for item in H:
    print(item)

(569.0,)
(192.29999999999998,)
(1706.5,)
(230.1,)

In [ ]:
Question 9
Suppose list words is defined as follows: words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:

In [1]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

In [2]:
a = [elements.upper() for elements in words]
print (a)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [3]:
b = [elements.lower() for elements in words]
print(b)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [5]:
c = [len(elements) for elements in words]
print(c)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [6]:
d = [[elements.upper(),elements.lower(),len(elements)] for elements in words]
print(d)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [7]:
e = [elements for elements in words if len(elements)>=4]
print(e)

['quick', 'brown', 'jumps', 'over', 'lazy']